$imgUrl: '../img';
$brand: #ba0000;
$gray: #f4f4f4;
$white: #fff;
$textColor: #333;
$linkColor: #666;
$lightGray: #f0f0f0;
$color9: #999;

@mixin hide-text {
	background-color: transparent;
  color: transparent;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
}
@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin bpoint($point) {
  @if $point == lg {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == md {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
  }
  @else if $point == sm {
    @media (min-width: 768px) and (max-width: 991px)  { @content; }
  }
  @else if $point == xs {
    @media (max-width: 767px)  { @content; }
  }
}